.hex-board {
  width: 614px;
  height: 662.22px;
  margin: 47px auto;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
}

.hexagon {
  position: absolute;
  /* background-color: #ffffff; */
  background-color: #434B57;
  border-radius: 2px;
  /* margin-left: 2px; */
  width: 21px; 
  height: 14px;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
  transform: rotate(90deg);
}

.hexagon:before, .hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -0.375vh;
  left: -0.4vh;
  background-color: #434B57;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}