.hex-board {
  position: relative;
  overflow: hidden;
  width: 79vw;
  position: relative;
  overflow: hidden;
}

.hexagon {
  position: absolute;
  height:25px;
  width:15px;
  transition: all 0.1s;
}

.rect {
  position:absolute;
  background-color: #282C34;
  box-sizing:border-box;
  height:23px;
  width:13.9px;
  border-radius:1px;
  transition: all 0.1s;
}

.rect:after {
  content:"";
  height:30px;
  position:absolute;
  transform:rotate(-30deg);
  width:15px;
  transition: all 0.1s;
}

.nw-se {
  transform:rotateZ(60deg);
  transition: all 0.1s;
}

.sw-ne {
  transition: all 0.1s;
  transform:rotateZ(-60deg);
}

.rect:hover ~ .sw-ne:hover ~ .nw-se:hover {
  animation: hexagon-pulsate 0.2s 1 linear forwards;
}

@keyframes hexagon-pulsate{
  0% {
    background-color: #282C34;
  }
  100% {
    background-color: #1B8BCD;
  }
}