.hex-board {
  /* height: 706.22px; */
  position: relative;
  overflow: hidden;
  width: 79vw;
  position: relative;
  overflow: hidden;
}

/* .hexagon {
  position: absolute;
  background-color: #434B57;
  border-radius: 2px;
  width: 21px; 
  height: 14px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px #434b571d;
  transition: all 0.1s;
  border: 0.4vh solid transparent;
  transform: rotate(90deg);
}

.hexagon:before, .hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -0.375vh;
  left: -0.4vh;
  background-color: #434B57;
  transition: all 0.1s;
  border-radius: inherit;
  height: 100%;
  width: 100%;
} */

.hexagon {
  position: absolute;
  height:25px;
  width:15px;
  transition: all 0.1s;
}

.rect {
  position:absolute;
  background-color: #434B57;
  box-sizing:border-box;
  height:23px;
  width:13.9px;
  border-radius:1px;
  transition: all 0.1s;
}

.rect:after {
  content:"";
  height:30px;
  position:absolute;
  transform:rotate(-30deg);
  width:15px;
  transition: all 0.1s;
}

.nw-se {
  transform:rotateZ(60deg);
  transition: all 0.1s;
}

.sw-ne {
  transition: all 0.1s;
  transform:rotateZ(-60deg);
}

.rect:hover ~ .sw-ne:hover ~ .nw-se:hover {
  animation: hexagon-pulsate 0.2s 1 linear forwards;
}

@keyframes hexagon-pulsate{
  0% {
    background-color: #434B57;
  }
  100% {
    background-color: #1B8BCD;
  }
}

/* .hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
} */