.hex-board {
  position: relative;
  overflow: hidden;
  width: 79vw;
}

.hexagon {
  position: absolute;
  height:34px;
  width:34px;
  transition: all 0.1s;
  overflow: hidden;
}

.icon {
  fill: var(--hex-color);
}

.prop-holder {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.start-node {
  background-image: url('../svgIcons/startNode.svg');
  top: 0px; 
  /* DO NOT REMOVE THE ABOVE LINE */
}

.end-node {
  background-image: url('../svgIcons/endNode.svg');
  top: 0px;
  /* DO NOT REMOVE THE ABOVE LINE */
}

.bomb-node {
  background-image: url('../svgIcons/bombNode.svg');
  top: 0px;
  left: 1px;
}

.weight-node {
  background-image: url('../svgIcons/weightNode.svg');
  top: 0px;
}

.icon:hover {
  animation: icon-pulsate 0.2s 1 linear forwards;
}

.svg-wall-node {
fill: var(--wall-node-color);
}

.node-hover {
  animation: node-pulsate 1s infinite linear;
}

@keyframes icon-pulsate {
  0% {
      fill: var(--hex-color);
  }
  100% {
      fill: var(--hex-color-hover);
  }
}

@keyframes node-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* .rect {
  position:absolute;
  background-color: #282C34;
  box-sizing:border-box;
  height:23px;
  width:13.9px;
  border-radius:1px;
  transition: all 0.1s;
}

.rect:after {
  content:"";
  height:30px;
  position:absolute;
  transform:rotate(-30deg);
  width:15px;
  transition: all 0.1s;
}

.nw-se {
  transform:rotateZ(60deg);
  transition: all 0.1s;
}

.sw-ne {
  transition: all 0.1s;
  transform:rotateZ(-60deg);
}

.rect:hover ~ .sw-ne:hover ~ .nw-se:hover {
  animation: hexagon-pulsate 0.2s 1 linear forwards;
}

@keyframes hexagon-pulsate{
  0% {
    background-color: #282C34;
  }
  100% {
    background-color: #1B8BCD;
  }
} */