.settings-outer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  z-index: 100;
}

.settings-inner {
  width: 70%;
  height: 80%;
  border-radius: 0.75rem;
  margin: 10vh 15vw;
  background-color: #21252B;
}

.settings-buttons {
  position: relative;
  width: min-content;
  height: min-content;
  margin: 0.75rem 0.75rem 0 0;
  float: right;
}

.cross-icon {
  cursor: pointer;
  transform: scale(1.5);
}

.blur-ele {
  transition: all .5s ease;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}