.square-board {
  width: 79vw;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
}

.square {
  position: absolute;
  background-color: #434B57;
  /* border-radius: 2px; */
  width: 21px; 
  height: 21px;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
}
